*{
    box-sizing: border-box;
}

body {
    margin: 0;
}
  


.container{
   max-width: 1140px;
    margin: 0 auto;
    border: 1px solid black;
}
p {
    width: 350px;
    border: 1px solid yellow;
    padding: 10px;
    flex-shrink: 0;

}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}


//  @media (max-width : 1100px) {
//        .row{
//            grid-template-columns: 1fr 1fr;
        
//     }
    
// }
// Маленькие устройства (576px и выше)

 
@media (min-width :320px) {
    body{
        background-color: yellow;
    }
    
}
@media (min-width :576px) {
    body{
        background-color: red;
    }
}
@media (max-width: 575.98px) {
    body {
      background-color: blue;
    }
  }
// @media (max-width : 500px) {
//     body{
// background-color: yellow;
//     }
    
// }

